doctype html
html(lang='en')
  include ./base/head.jade
  body(data-spy="scroll", data-target="nav-main")
    include ./base/nav.jade
    include order-bar.jade
    include tabs.jade
    include ./base/footer.jade
    include ./base/scripts.jade
