doctype html
html(lang='en')
  include ./base/head.jade
  body(data-spy="scroll", data-target="nav-main")
    include ./base/nav.jade
    include order-bar.jade
    include tabs.jade
    .row.order-row
      .col-md-4.col-md-offset-4
        button.btn.btn-primary.btn-lg.btn-block(type='button') Order
    include ./base/footer.jade
    include ./base/scripts.jade
