doctype html
html(lang='en')
  include ./base/head.jade
  body(data-spy="scroll", data-target="nav-main")
    include ./base/nav.jade
    include main.jade
    p Dupa
    include list.jade
    include ./base/footer.jade
