section#how
  .container
    .row
      .col-md-7
        h1 How does it works?
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sodales magna quis mollis pretium. Pellentesque pulvinar nisi ac turpis suscipit finibus. Ut volutpat, leo at volutpat consectetur, metus tellus rhoncus lorem, ut molestie eros risus vel elit. Pellentesque sed nisl mauris. Integer sed magna at urna volutpat ullamcorper. Suspendisse potenti. Fusce laoreet lorem massa, nec tincidunt augue dictum in. Suspendisse gravida, erat sed sagittis consequat, augue risus dictum felis, sit amet dictum ex tellus sed tortor. Morbi augue arcu, imperdiet a interdum id, semper non massa. Quisque eget erat dui. Fusce ex sapien, iaculis ut augue a, lacinia tempus dui. Phasellus nec sapien ut enim mollis posuere vitae dapibus dolor. Sed at ex nec nisi tincidunt bibendum sit amet eu urna. In tempus, felis vitae dignissim bibendum, purus tortor vestibulum libero, ac sagittis diam tortor commodo urna. Nulla commodo mi vitae lobortis lacinia. Ut molestie neque id ultricies aliquet.
          