section#list
  .container
    .row
      h1.list-header Browse our designs
      .col-md-4
        img.img-block(src="./img/img-minimal.jpg")
        h1 Minimal
        p Simple and cheap but sill looking awsome. Ideal for early stage project and companies.
      .col-md-4
        img.img-block(src="./img/img-economy.jpg") 
        h1 Economy 
        p Economy is perfect for middle stage teams. Provides all you need comfortable evairoment.
      .col-md-4
        img.img-block(src="./img/img-full.jpg") 
        h1 Full
        p Everything the best, unique and esentional design perfect for your mature company.