header.main
  .container
    .row.text-center
      .jumbotron
        h1 Create your own office design
        .col-md-8.col-md-offset-2.input-group.main-group
          span.input-group-addon.input-lg How many desks you need:
          input.form-control.input-lg.text-right(type="number", placeholder="")
          span.input-group-addon.input-lg( style="border-left: 0; border-right: 0;") Office size: 
          input.form-control.input-lg.text-right(type="number", placeholder="")
          span.input-group-addon.input-lg( style="border-left: 0; border-right: 0;") m2
          .input-group-btn
            a.btn.btn-lg.btn-outline.btn-round(href='#list', role='button') Create »
        
