header.main
  include video.jade
  .container
    .row
      .jumbotron
        h1 Create your branded office design
        .input-group
          input.form-control(type="text", placeholder="How many desks you need?")
          input.form-control(type="text", placeholder="How big is your office?")
          .input-group-btn
            a.btn.btn-lg.btn-outline.btn-round(href='#list', role='button') Create »