header.main
  .container
    .row.text-center
      .jumbotron
        h1 Create your office design
        .input-group
          input.form-control.input-lg(type="text", placeholder="How many desks you need?")
          span.input-group-btn(style="width:0px;")
          input.form-control.input-lg(type="text", placeholder="How big is your office?")
          input.form-control(type='file')
          img#image_upload_preview(style='display:none;')
          .input-group-btn
            a.btn.btn-lg.btn-outline.btn-round(href='#list', role='button') Create »
        
