header.main
  include video.jade
  .container
    .row
        .jumbotron
          h1 Create your branded office design
          .btn-group.btn-group-lg(role='group', aria-label='Large button group')
            button.btn.btn-default(type='button') Left
            button.btn.btn-default(type='button') Middle
            a.btn.btn-lg.btn-outline.btn-round(href='#list', role='button') Create »