.design
.order-bar(data-spy="affix" data-offset-top="235")
  .container
    .row.text-center
      .col-md-8.input-group
        span.input-group-addon.input-lg Number of desks:
        input.form-control.input-lg.text-right.ls-desks(type="number", placeholder="")
        span.input-group-addon.input-lg( style="border-left: 0; border-right: 0;") Office size: 
        input.form-control.input-lg.text-right.ls-size(type="number", placeholder="")
        span.input-group-addon.input-lg( style="border-left: 0; border-right: 0;") m2
        span.input-group-addon.input-lg.btn.btn-default.btn-file
          span#logo-text Logo
          input(type='file')
          img.logo-img#image_upload_preview.ls-img
        
