table.table
  th
    td 
    td Name
    td Price
    td Quantity
    td 
  tr
    td
      img.img-block(src="http://www.ikea.com/pl/pl/images/products/thyge-biurko__0351207_PE538418_S4.JPG")
    td
      span.Name THYGE
      span.detalis Biurko, biały, srebrny
    td 349 PLN
    td 10 szt
    td 3490 PLN