table.table.order-table
  tr
    th.name-td Name
    th.product-img
    th Size
    th Price
    th Quantity
    th 
  tr
    td
      span.Name THYGE
      br
      span.detalis Biurko, biały, srebrny
    td
      img.img-block(src="http://www.ikea.com/pl/pl/images/products/thyge-biurko__0351207_PE538418_S4.JPG")
    td 120x60 cm
    td 349 PLN
    td 10 szt
    td 3490 PLN
  tr
    td
      span.Name THYGE
      br
      span.detalis Biurko, biały, srebrny
    td
      img.img-block(src="http://www.ikea.com/pl/pl/images/products/thyge-biurko__0351207_PE538418_S4.JPG")
    td 120x60 cm
    td 349 PLN
    td 10 szt
    td 3490 PLN
  tr
    td
      span.Name THYGE
      br
      span.detalis Biurko, biały, srebrny
    td
      img.img-block(src="http://www.ikea.com/pl/pl/images/products/thyge-biurko__0351207_PE538418_S4.JPG")
    td 120x60 cm
    td 349 PLN
    td 10 szt
    td 3490 PLN
  tr
    td
      span.Name THYGE
      br
      span.detalis Biurko, biały, srebrny
    td
      img.img-block(src="http://www.ikea.com/pl/pl/images/products/thyge-biurko__0351207_PE538418_S4.JPG")
    td 120x60 cm
    td 349 PLN
    td 10 szt
    td 3490 PLN
  tr
    td
      span.Name THYGE
      br
      span.detalis Biurko, biały, srebrny
    td
      img.img-block(src="http://www.ikea.com/pl/pl/images/products/thyge-biurko__0351207_PE538418_S4.JPG")
    td 120x60 cm
    td 349 PLN
    td 10 szt
    td 3490 PLN
  tr
    td
      span.Name THYGE
      br
      span.detalis Biurko, biały, srebrny
    td
      img.img-block(src="http://www.ikea.com/pl/pl/images/products/thyge-biurko__0351207_PE538418_S4.JPG")
    td 120x60 cm
    td 349 PLN
    td 10 szt
    td 3490 PLN
  tr
    td
      span.Name THYGE
      br
      span.detalis Biurko, biały, srebrny
    td
      img.img-block(src="http://www.ikea.com/pl/pl/images/products/thyge-biurko__0351207_PE538418_S4.JPG")
    td 120x60 cm
    td 349 PLN
    td 10 szt
    td 3490 PLN
  tfoot
    tr
      td
      td
      td
      td
      td
      td 34900 PLN