table.table.order-table
  tr
    th.name-td Name
    th.product-img
    th Size
    th Price
    th Quantity
    th 

  tfoot
    tr
      td
      td
      td
      td
      td
      td#fullpricebox 