section#list(data-spy="affix" data-offset-top="235")
  .container
    ul#designTabs.row.nav.nav-tabs
      li.col-md-4
        a(href="#minimal")
          img.img-block(src="./img/img-minimal.jpg")
          h1 Minimal
          p Simple and cheap but sill looking awsome. Ideal for early stage project and companies.
      li.col-md-4.active
        a(href="#economy")
          img.img-block(src="./img/img-economy.jpg") 
          h1 Economy 
          p Economy is perfect for middle stage teams. Provides all you need comfortable evairoment.
      li.col-md-4
        a(href="#full")
          img.img-block(src="./img/img-full.jpg") 
          h1 Full
          p Everything the best, unique and esentional design perfect for your mature company.
    .tab-content
      #minimal.tab-pane(role='tabpanel') 
        include table
      #economy.tab-pane.active(role='tabpanel')
        include table
      #full.tab-pane(role='tabpanel')
        include table
