video.video(autoplay='', loop='', muted='')
  source(src='http://ak0.picdn.net/shutterstock/videos/2787790/preview/stock-footage-new-york-september-models-walk-the-runway-for-j-mendel-collection-by-gilles-mendel-during-spr.mp4', type='video/mp4')
  source(src='http://ak0.picdn.net/shutterstock/videos/2787790/preview/stock-footage-new-york-september-models-walk-the-runway-for-j-mendel-collection-by-gilles-mendel-during-spr.webm', type='video/webm')
  source(src='http://ak0.picdn.net/shutterstock/videos/2787790/preview/stock-footage-new-york-september-models-walk-the-runway-for-j-mendel-collection-by-gilles-mendel-during-spr.ogv', type='video/ogg')
