.design{
    position: relative;
    height: 300px;
    background: 
                radial-gradient(ellipse at center,rgba(0,0,0,.3) 0, rgba(0,0,0,.5) 40%,#00080d 85%,#000 90%), 
                url(../img/bg-design.jpg) center left no-repeat;
    background-size: cover;
}

.order-bar{
    background-color: @brand-primary;
    color: #fff;
    
    .btn-file{
        min-width: 110px;
    }
    .input-group-addon{
        background-color: transparent;
        border: none;
        color: #fff;
    }
    .input-lg{
        border: none;
        border-bottom: 1px #ddd solid;
    }
    .btn-file{
        background-color: #fff;
        border: none;
        border-radius: 0px;
        color: @gray;
    }
    &.affix{
        top: 65px;
        z-index: 99999;
        width: 100%;
    }
}
#list{
    &.affix{
        padding-top: 65px; 
        position: relative;
    }
.nav>li>a{
    &:hover{
        cursor: pointer;
        background-color: rgba(38, 151, 146, .3);
        border-color: #fff #fff #ddd;
    }
    &>img.img-block{
        max-width: 100%;
    }
}
}
.order-table{
    margin-top: 40px;
    
    &>tbody>tr{
        th{
            border-top: none;
        
        }
    &>td{
        vertical-align: middle;
            height: 120px;
        }
    }
}
.name-td{
    width: 300px;
}
.product-img{
    width: 120px;
    
    img{
        max-height: 100%;
    }
}

.order-row{
    padding-bottom: 50px;
}